  {% load static %}
  
  <nav class="navbar navbar-expand-md" style="background-color: #343a40; margin-bottom: 10px;">
    <div class="container-fluid">
      <img src="{% static 'images/bkmark.jpg' %}" style="width: 60px; height: 45px; margin-right: 20px" alt="Img Not Found">
      <form class="form-inline post-form" method="POST" action="{% url 'search' user.username %}">
        {% csrf_token %}
        <input class=" mr-sm-2" type="text" name="search_val"/>
        {% comment %} {% %} {% endcomment %}
        <button class="btn btn-primary my-2 my-sm-0" type="submit" style="margin-right: 20px">
          Search
        </button>
      </form>
      <a class="navbar-brand" href="{% url 'groups' user.username %}" style="color: #f8f9fa;"><h5>Home</h5></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="nav-item ml-md-auto" style="list-style-type: none">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: #f8f9fa;"
            >
              <b> {{ user.username }} </b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" >Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
